* {
  box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

/* basic button structure */
.btn {
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

/* primary button color */
.btn-primary {
    background-color: blue;
    color: white;
}

/* modal plane*/
.modal {
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    padding: 0px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* pop-up card under modal */
.modal-card {
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    min-width: 400px;
}

/* heading of modal */
.modal-card .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.timer {
    color: red;
    font-weight: 600;
}

.heading p {
    font-weight: 600;
    font-size: 20px;
}

.modal-card .body .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 5px;
}

.modal-card .body p:nth-child(1) {
    font-size: 14px;  
}

.modal-card .body .boxes input {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 20px;
    padding: 10px;
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-details .info {
    color: rgb(0, 103, 134);
    font-weight: 600;
}

.notification {
    color: green;
    font-size: 15px;
}

.modal-hidden {
    display: none;
}

.disabled {
    color: grey !important;
}

.spinner-box {
    display: flex;
    justify-content: center;
}

.alert-input-danger {
  border: 2px solid red !important
}

.alert-input-success {
    border: 2px solid green !important
}

.loader {
    width: 100px;
    height: 100px;
}

.attempts {
    color: grey;
    font-weight: 600;
    margin: 0px 5px;
}

.msg-alert-input-danger {
    color: red !important;
}

.msg-alert-input-success {
    color: green !important;
}

/* to hide number input buttons in chrome , safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* to hide hide number input buttons for firefoox */
input[type=number] {
  -moz-apperance: textfield;
}